<!-- author: Lakshman Balasubramanian -->
<!-- Changes by Ludwig Kastner on 2022/03/15: Node name for Delta Node changed -->
<!-- Changes by Ludwig Kastner on 2022/03/15: Added arg and param message_type -->
<launch> 

   <!-- parameters-->
      <arg name="port_num_ADMA" default="1311" doc="ADMA Webinterface -> Data -> Ethernet data output -> Destination Port" />
         <!--    As specified in the ADMA setup, Format '1040'     -->
      <arg name="ip_adress_ADMA" default="192.168.88.69" doc="ADMA Webinterface -> Data -> Ethernet data output -> Destination IP" />
      <arg name="message_type" default="delta"/>
  <!-- start node -->
      <node name="adma_delta" type="adma_connect" pkg="adma_connect" output="screen">
         <param name="~/port_num_ADMA"  type="string" value="$(arg port_num_ADMA)"/>
         <param name="~/ip_adress_ADMA" type="string" value="$(arg ip_adress_ADMA)"/>
         <param name="~/message_type" type="string" value="$(arg message_type)"/>
      </node>
</launch>
